<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutiempo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylecities.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>

    <div class="cabecera">
        <div class="container">
            <h1 class="title">
                Ciudades y su climatología
            </h1>
        </div>
    </div>

    <div class="boton-volver">
        <a href="/">
            <button>Inicio</button>
        </a>
    </div>

    <div class="container">
        {% for ciudad_guardada in data %}
            <div class="tarjeta">
                <form method="POST" action="/cities">
                    <input type="hidden" name="ciudad_id" value="{{ ciudad_guardada._id }}">
                    <button class="borrar-ciudad" type="submit">X</button>
                </form>
                <div class="info-ciudad">
                    <p>Ciudad: {{ ciudad_guardada.lugar }} - {{ ciudad_guardada.fecha }}</p>
                    <p>Código de país:{{ ciudad_guardada.pais}}</p>
                    <p>Temp actual:{{ ciudad_guardada.tempAct }}°C</p>
                    <p>{{ ciudad_guardada.descripcion }}</p>
                </div>
                <figure class="icono">
                    <img src="https://openweathermap.org/img/wn/{{ ciudad_guardada.icono }}@2x.png" alt="Icono">
                </figure>
            </div>
        {% endfor %}
    </div>

   
</body>
</html>