<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutiempo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>

    <div class="cabecera">
        <div class="container">
            <h1 class="title">
                ¿Tengo que llevar paraguas hoy?
            </h1>
        </div>
    </div>

    <div class="formulario">
        <form action="/" method="post">
            <input type="text" id="ciudad" name="ciudad" placeholder="Ciudad">
            <div class="control">
                <button class="boton1">
                    Añadir Ciudad
                </button>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% set message_class = 'is-success' %}
                            {% if category == 'error' %}
                                    {% set message_class = 'is-danger' %}
                            {% endif %}
                        <div class="notification {{ message_class }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
        <a href="{{ url_for('cities') }}" style="display: inline-block; margin-top: 20px;">
            <button class="boton1">Ver Ciudades</button>
        </a>
        <a href="{{ url_for('registro') }}" style="display: inline-block; margin-top: 20px;">
            <button class="boton1">Ver Registros</button>
        </a>
        <div class="bg-success p-2 text-dark bg-opacity-25" style="--bs-bg-opacity: .5; margin-top: 30px;">    
        {% if data and data.lugar %}
        
            <p style="font-weight: bold;">{{ data.lugar }}</p>
            <p>Temperatura actual: {{ data.tempAct }}°C</p>
            <p>Temperatura mínima: {{ data.tempMin }}°C</p>
            <p>Temperatura máxima: {{ data.tempMax }}°C</p>
            <p>Humedad: {{ data.humedad }}%</p>
            <p>Descripción: {{ data.descrip }}</p>
            <figure class="image is-50x50">
                <img src="https://openweathermap.org/img/wn/{{data.icono}}@2x.png" alt="Icono">
            </figure>
        {% endif %}
        </div>

    </div>

    <footer class="footer">
            <div class="centro">
                
                <p>Datos recogidos gracias al uso de la API: openweathermap</p>
              </p>
            </div>
    </footer>
</body>
</html>

