body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hace que el cuerpo ocupe al menos el 100% de la altura visible */
    margin: 0;
}

.cabecera {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.cabecera .title {
    font-size: 2.5rem;
}

.formulario {
    text-align: center;
    margin-top: 20px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {

    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 10px; /* Añadido un margen inferior para separar el input del botón */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.notification.is-success {
    background-color: #4CAF50; /* Verde */
    color: #fff; /* Texto blanco */
    padding: 10px;
    margin-top: 10px; /* Añadido un margen superior para separar el mensaje del formulario */
    border-radius: 5px;
}

/* Estilo para mensajes de error */
.notification.is-danger {
    background-color: #D9534F; /* Rojo */
    color: #fff; /* Texto blanco */
    padding: 10px;
    margin-top: 10px; /* Añadido un margen superior para separar el mensaje del formulario */
    border-radius: 5px;
}

.ciudad-recuadro {
    background-color: #28a745; /* Verde */
    padding: 10px;
    color: #000; /* Texto oscuro */
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 30px;
    opacity: 0.75; /* Opacidad del fondo */
}

.footer {
    background-color: #5a8fb3;
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
}
.footer .centro {
    max-width: 800px;
    margin: 0 auto;
}

.footer p {
    font-size: 1.2rem;
    margin: 0;
}
