/* Resetear márgenes y rellenos predeterminados */
body, h1, p, button, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
}

.cabecera {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.boton-volver {
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.tarjeta {
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.tarjeta:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.info-ciudad {
    flex-grow: 1;
    padding-right: 20px;
}

.icono {
    width: 50px;
    height: 50px;
}

.borrar-ciudad {
    position: absolute;
    top: 10px;
    right: 10px;
    background: hsl(216, 100, 50);
    border: none;
    padding: 0;
    border-radius: 50%;
    width: 30px; /* Ajusta el tamaño según sea necesario */
    height: 30px; /* Ajusta el tamaño según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff; /* Añade color de texto */
    font-size: 15px; /* Ajusta el tamaño del texto según sea necesario */
}

.borrar-ciudad:hover {
    background: hsl(216, 100, 40);
}